.App {
  text-align: center;
}

body {
  background-color: whitesmoke;
}

.Header {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.Header p {
  font-weight: bold;
}

.SearchBar {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-top: 5px;
  height: 25px;
}

.MovieCard {
  padding: 10px;
  margin: 10px;
  box-shadow: 4px 4px 4px 4px;
}

.MovieList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.SearchBar{
display: flex;
justify-content: center;
padding: 10px;
margin: 10px;
}